set -e
set -x

if [ -z "$1" ]; then
    echo "Argument required"
fi

aws greengrassv2 batch-associate-client-device-with-core-device --core-device-thing-name {{ terraform.core_iot_thing_name }} --entries thingName="$1"
aws greengrassv2 list-client-devices-associated-with-core-device --core-device-thing-name {{ terraform.core_iot_thing_name }} 